.ParallaxText {
    margin: 100vh auto 0 auto; 
    width: 88%; 
    z-index: 2; 
    min-height: 200px; 
    position: relative;
    color: #fff; 
    text-align: left; 

}

.liList {
    list-style-type: none; 
}

.phrase {    
    display: inline-block; 
    opacity: 0.4; 
    display: inline; 
    line-height: 40px; 
    letter-spacing: 1px; 
    font-size: 32px; 


}
.phrase.active {
    opacity: 1; 
}