.HireBtn {
    border: none; 
    background-color: #0071e3; 
    padding: 4px 11px; 
    border-radius: 30px; 
    margin: 0 0 0 20px; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px; 
    font-weight: 100; 
    color: #fff; 
}