:root {
    --black-text: #000; 
}
* {
    margin: 0; 
    padding :0; 
    box-sizing: border-box; 
}

body{
    min-height: 100vh; 
    font-family: 'Source Sans Pro', sans-serif;
}
button:hover{
    cursor: pointer; 
}

#root {
    height: 100%; 
}